header{
    background-color:black;
    nav{
        // Pisando Bootstrap
        
        .logo_size{
            width: 15rem;
            height: 5rem;
            object-fit: cover;
            transition: all .3s;
            &:hover{
                transform: scale(1.2,1.2);
            }
        }
        .submenu{
            background-color:$fondo1; 
        }
        .menu{
            a{
                color: $fondo2;
                font-size: 1.5rem;
                font-family: 'Source Sans Pro', sans-serif;
            }
        }
    }
}
.nav-link{
    color: $fondo2 !important;
    &:hover{
        color:$fondo !important;
    }
}
.icon{
    font-size: 3rem;
    color:$fondo2;
}
.dropdown-item:hover{
    background: none;
    color:$fondo;
}