header{
    background-color:black;
    nav{
        .logo_size{
            width: 15rem;
            height: 5rem;
            object-fit: cover;
            transition: all .3s;
            &:hover{
                transform: scale(1.2,1.2);
            }
        }
        .submenu{
            background-color:$fondo1; 
        }
        .menu{
            a{
                color: $fondo2;
                font-size: 1.2rem;
                font-weight: bolder;
            }
        }
    }
}