@import"./mediaquerie";
header{ position: fixed;
    width: 100%;
    z-index: 100;
    nav{
        // Pisando Bootstrap
        
        .logo_size{
            width: 15rem;
            height: 5rem;
            object-fit: cover;
            transition: all .3s;
            &:hover{
                transform: scale(1.2,1.2);
            }
            @include breakpoint (mobile){
                width: 13rem;
            }
        }
        .submenu{
            background-color:$fondo1; 
        }
        .menu{
            justify-content: flex-end;
            a{
                color: $fondo2;
                font-size: 1.5rem;
                font-family: 'Source Sans Pro', sans-serif;
            }
        }
    }
}
.navbar-collapse {
    flex-grow:0;
    padding-right:2rem ;
}
.nav-link{
    color: $fondo2 !important;
    &:hover{
        color:$fondo !important;
    }
}
.icon{
    font-size: 3rem;
    color:$fondo2;
    @include breakpoint (mobile){
        font-size: 2rem;
    }
}
.dropdown-item:hover{
    background: none;
    color:$fondo;
}