.catalogo{
    display: grid;
    gap: 3px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: $fondo;
    width: 100%;
    height:auto;
    padding:.5rem .5rem;
    &__img{
        flex:2 3 300px;
        height: 22rem;
        object-fit: cover;
    }
    &__video{
        flex:4 1 300px;
        width: 300px;
        height: 22rem;
        object-fit: cover;
    }
    &__text{
        margin: 1rem;
        flex: 2 3 300px;
        height:auto;
        color:$fondo2;
        display: flex;
        flex-flow:column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        h3{
            font-weight: bloder;
            font-size: 2.7rem;
        }
        p{
            text-align: left;
            font-size: 1.5rem;
        }
    }
}

@for $i from 1 through 4 {
    .catalogo__#{$i}{ display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
    padding-top:2rem;
    }
  }

  