@import "./mediaquerie";
.catalogo{
    display: grid;
    gap: 3px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    background-color: $fondo2;
    width: 100%;
    height:auto;
    padding:7rem 0;
    padding-bottom:2.5rem;
    &__img {
        flex:2 0 300px;
        height: 22rem;
        width: 100%;
        object-fit: cover;
        margin:0 2rem ;
        display: flex;
        align-items: center;
        justify-content: center;
        @include laptop{
            margin:0 .5rem; 
        }
        @include breakpoint (mobile){
            height: 18rem;
            margin-right:0;
            margin:0 .5rem;
        }
        .img__item{
            width: 100%;
        }
    }
    &__video{
        flex:3 0 300px;
        width: 300px;
        height: 22rem;
        object-fit: cover;
        margin-right:2rem ;
        @include laptop{
            margin:0 .5rem;
        }
        @include breakpoint (mobile){
            height: 18rem;
            margin:0 .5rem;
        }
    }
    &__text{
        margin: 2rem 1rem;
        flex:1 0 300px;
        height:auto;
        color:$fondo;
        display: flex;
        flex-flow:column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        overflow: hidden;
        @include breakpoint (mobile){
            padding:0 1rem;
            margin: 3.5rem .5rem;
        }
        h3{
            font-weight: bloder;
            font-size: 2.7rem;
        }
        p{
            text-align: left;
            font-size: 1.5rem;
        }
        @include breakpoint (mobile){
            h3{
                font-weight: bloder;
                font-size: 2rem;
            }
            p{
                text-align: left;
                font-size: 1rem;
            }
        }
    }
}

@for $i from 1 through 4 {
    .catalogo__#{$i}{ display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
    padding-top:.5rem;
    }
  }
.tophombre{
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    padding:4rem 0;
    gap: 1rem;
    background-color: $fondo2;
    h2{
        @include texto_taniker
        color:$fondo;
        font-size:3.5rem;
        font-weight: 700;
    }
    h3{
        @include texto_taniker
        color:$fondo;
        font-size:2.5rem;
        font-weight: 700;
    }
    @include breakpoint (mobile){
        padding-top:5rem;
        h2{
            font-size:2.5rem;
        }
        h3{
            font-size:1.9rem;
        }
    }
}
.topventas{
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.imgHombre{
    height: 450px;
    width: 300px;
    object-fit: cover;
    margin: 1.5rem 0;
    transition: all .4s;
    &:hover{
        transform: scale(1.2,1.2);
    }
    @include breakpoint (mobile){
        height: 400px;
        width: 250px;
    }
}
  