@import "./mediaquerie";
@import "./vars";
@import "./reset";

.inicio {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "inicio__portada inicio__portada"
      "inicio__presentacion inicio__presentacion"
      "incio__hombre inicio__mujer"
      "incio__galery incio__galery";}
  .inicio__portada {    grid-area:inicio__portada;
    width: 100%;
    height:27rem;
    padding: 1.5rem 0;
    background-image: url(../../imagenes/portadas/ciudad.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    overflow: hidden;
    & *{
        color:$fondo;
        font-weight: bolder;
        text-align: center;
        @include breakpoint(mobile){
            font-size:30px;
            }
    }
    h2{
        @include breakpoint(mobile){
            font-size:20px;
            font-weight: bloder;
            text-align: center;
            
            }
    }
    a{
        font-size: 1.5rem;
        text-decoration: none;
        border: $fondo2 solid 3px;
        border-radius: 60px;
        background-color: $fondo1;
        padding: 1rem 5rem;
        transition: all .2s;
        &:hover{
            transform: scale(1.1,1.1);
            color:$fondo2;
        }
        @include breakpoint(mobile){
            font-size:16px;
            padding:.6rem 1.1rem;
            }
    }
 }
  
  .inicio__presentacion { grid-area: inicio__presentacion;
    width: 100%;
    height: auto;
    background-color: $fondo2;
    padding: 2rem 0;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    & video{
        width: 45rem;
        margin-bottom:1.5rem;
        @include breakpoint(mobile){
        width: 20rem;
        }
    }
    &--text{
        padding-top:2rem 0;
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
        width: 50rem;
        gap: 1rem;
        *{
            color:$fondo;
            text-align: center;
        }
        h2{
            font-size: 2.5rem;
            @include breakpoint(mobile){
                font-size:25px;
                }
        }
        p{
            font-size:1.5rem;
            @include breakpoint(mobile){
                font-size:15px;
                padding: .5rem;
            }
        }
    }
}
  
  .incio__hombre { grid-area:incio__hombre;
    width: 100%;
    height: 30rem;
    background-image: url(../../imagenes/hombre4.jpg);
    background-position: center;
    background-size: cover;
    align-self: center;
    position: relative;
    display: flex;
    flex-flow:column nowarp;
    justify-content: center;
    align-items: center;
    a {
        @include boton (desktop)
        transition:all .3s;
        &:hover{
            transform:scale(1.2,1.2);
            color:$fondo;
        }
        @include breakpoint (mobile){
            @include boton (mobile)
        }
    }
}
  .inicio__mujer { grid-area: inicio__mujer; 
    width: 100%;
    height: 30rem;
    background-image: url(../../imagenes/mujer1.jpg);
    background-position: center;
    background-size: cover;
    align-self: center;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    a{
        @include boton (desktop)
        transition:all .3s;
        &:hover{
            transform:scale(1.2,1.2);
            color:$fondo;
        }
        @include breakpoint (mobile){
            @include boton (mobile)
        }
    }
}
  
  .incio__galery { grid-area: incio__galery;
    background-color: $fondo1;
    padding: 2rem 0;
    h2{
        font-family: 'Source Sans Pro', sans-serif;
        @include texto_taniker
        @include breakpoint (mobile){
            font-size:1.5rem;
        }
    }
  }
  .galery__container{
      display: grid;
      grid-template-columns:repeat(3, 1fr);
      grid-auto-rows: 11rem;
      gap: .5rem;
      padding: 1rem;
      .galery__img{
          width: 100%;
          height: 100%;
          object-fit: cover;
    }
    .galery__item:nth-child(4){
        grid-row-start:span 3; 
    }
    .galery__item:nth-child(2){
        grid-row-start:span 2; 
    }  
    .galery__item:nth-child(3){
        grid-row-start:span 3;
    }
    .galery__item:nth-child(6){
        grid-column-start:span 2;
    }
  }
  