@-webkit-keyframes logoFooter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes logoFooter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  background: -webkit-gradient(linear, right top, left top, from(#bee3db), to(#3c6e71));
  background: linear-gradient(to left, #bee3db, #3c6e71);
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

header nav .logo_size {
  width: 15rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header nav .logo_size:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media screen and (max-width: 425px) {
  header nav .logo_size {
    width: 13rem;
  }
}

header nav .submenu {
  background-color: #89b0ae;
}

header nav .menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .menu a {
  color: #3c6e71;
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-right: 2rem;
}

.nav-link {
  color: #3c6e71 !important;
}

.nav-link:hover {
  color: #bee3db !important;
}

.icon {
  font-size: 3rem;
  color: #3c6e71;
}

@media screen and (max-width: 425px) {
  .icon {
    font-size: 2rem;
  }
}

.dropdown-item:hover {
  background: none;
  color: #bee3db;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-auto-flow: row;
      grid-template-areas: "footer__redes footer__nav footer__logo" "footer__text footer__text footer__text";
  background-color: #89b0ae;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 1rem;
  height: auto;
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: footer__logo;
  background-image: url(../../imagenes/logos/logofooter.png);
  background-size: cover;
  background-position: center;
  width: 15rem;
  height: 17rem;
  -webkit-animation: logoFooter;
          animation: logoFooter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.footer__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer__nav;
  width: auto;
  height: auto;
}

.footer__nav a {
  font-size: 1.2rem;
  color: #3c6e71;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: .5rem;
}

.footer__nav a:hover {
  color: #bee3db;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.footer__redes {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer__redes;
  width: 10rem;
  height: auto;
}

.footer__redes ul {
  list-style: none;
}

.footer__redes--logo {
  width: 3rem;
  margin: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  left: 15px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__redes--logo:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.footer__redes--Taniker {
  width: 8rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer__text;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.footer__text p {
  color: #3c6e71;
  font-weight: bolder;
  text-align: center;
}

.footer__text hr {
  border: .footer__text hr fondo2 4px solid;
  width: 100%;
}

@media (max-width: 579px) {
  .footer__logo {
    display: none;
  }
}

@keyframes logoFooter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  background: -webkit-gradient(linear, right top, left top, from(#bee3db), to(#3c6e71));
  background: linear-gradient(to left, #bee3db, #3c6e71);
}

.inicio {
  padding-top: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  grid-auto-columns: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px 10px;
  grid-auto-flow: row;
      grid-template-areas: "inicio__portada inicio__portada" "inicio__presentacion inicio__presentacion" "incio__hombre inicio__mujer" "incio__galery incio__galery";
}

@media screen and (max-width: 425px) {
  .inicio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "inicio__portada" "inicio__presentacion" "incio__hombre" "inicio__mujer" "incio__galery";
  }
  .inicio .inicio__portada {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: inicio__portada;
  }
  .inicio .inicio__presentacion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: inicio__presentacion;
  }
  .inicio .incio__hombre {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: incio__hombre;
  }
  .inicio .inicio__mujer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: inicio__mujer;
  }
  .inicio .incio__galery {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: incio__galery;
  }
}

.inicio__portada {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: inicio__portada;
  width: 100%;
  height: 33rem;
  padding: 1.5rem 0;
  background-image: url(../../imagenes/portadas/nuevacoleccion3.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .inicio__portada {
    height: 29rem;
  }
}

.inicio__portada * {
  color: #bee3db;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.5rem;
}

@media screen and (max-width: 425px) {
  .inicio__portada * {
    font-size: 30px;
  }
}

.inicio__portada--logo {
  font-family: "Source Sans Pro", sans-serif;
  text-shadow: -4px 3px 3px #3c6e71;
  font-weight: 700;
  font-size: 5rem;
}

@media screen and (max-width: 425px) {
  .inicio__portada--logo {
    font-size: 3.5rem;
  }
}

.inicio__portada h1 {
  text-shadow: -4px 3px 3px #3c6e71;
  font-weight: 700;
}

.inicio__portada h2 {
  font-size: 2.2rem;
  text-shadow: -4px 3px 3px #3c6e71;
}

@media screen and (max-width: 425px) {
  .inicio__portada h2 {
    font-size: 20px;
    font-weight: bloder;
    text-align: center;
  }
}

.inicio__portada a {
  font-size: 2rem;
  text-decoration: none;
  border: #3c6e71 solid 3px;
  border-radius: 60px;
  background-color: #89b0ae;
  padding: 1rem 5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-bottom: 2rem;
}

.inicio__portada a:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  color: #3c6e71;
}

@media screen and (max-width: 425px) {
  .inicio__portada a {
    font-size: 20px;
    padding: .5rem 1rem;
  }
}

.inicio__presentacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: inicio__presentacion;
  width: 100%;
  height: auto;
  background-color: #3c6e71;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .inicio__presentacion {
    padding: 1.5rem;
  }
}

.inicio__presentacion video {
  width: 45rem;
}

@media screen and (max-width: 425px) {
  .inicio__presentacion video {
    width: 19rem;
  }
}

.inicio__presentacion--text {
  padding-top: 2rem 0;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50rem;
  gap: 1rem;
}

.inicio__presentacion--text * {
  color: #bee3db;
  text-align: center;
}

.inicio__presentacion--text h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 425px) {
  .inicio__presentacion--text h2 {
    font-size: 25px;
  }
}

.inicio__presentacion--text p {
  font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
  .inicio__presentacion--text p {
    font-size: 15px;
  }
}

.incio__hombre {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: incio__hombre;
  width: 100%;
  height: 30rem;
  background-image: url(../../imagenes/hombre4.jpg);
  background-position: center;
  background-size: cover;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowarp;
          flex-flow: column nowarp;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  .incio__hombre {
    height: 15rem;
    margin: auto;
    width: 96%;
  }
}

.incio__hombre a {
  font-weight: 700;
  color: #3c6e71;
  font-weight: bloder;
  padding: .6rem 4rem;
  background-color: #89b0ae;
  border: 3px solid #3c6e71;
  font-size: 2rem;
  border-radius: 30px;
  text-decoration: none;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.incio__hombre a:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #bee3db;
}

@media screen and (max-width: 425px) {
  .incio__hombre a {
    color: #3c6e71;
    font-weight: bloder;
    padding: .5rem 2.5rem;
    background-color: #89b0ae;
    border: 2px solid #3c6e71;
    position: absolute;
    border-radius: 30px;
    font-size: 1.3rem;
    border-radius: 60px;
  }
}

.inicio__mujer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: inicio__mujer;
  width: 100%;
  height: 30rem;
  background-image: url(../../imagenes/mujer1.jpg);
  background-position: center;
  background-size: cover;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  .inicio__mujer {
    height: 15rem;
    margin: auto;
    width: 96%;
  }
}

.inicio__mujer a {
  font-weight: 700;
  color: #3c6e71;
  font-weight: bloder;
  padding: .6rem 4rem;
  background-color: #89b0ae;
  border: 3px solid #3c6e71;
  font-size: 2rem;
  border-radius: 30px;
  text-decoration: none;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.inicio__mujer a:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #bee3db;
}

@media screen and (max-width: 425px) {
  .inicio__mujer a {
    color: #3c6e71;
    font-weight: bloder;
    padding: .5rem 2.5rem;
    background-color: #89b0ae;
    border: 2px solid #3c6e71;
    position: absolute;
    border-radius: 30px;
    font-size: 1.3rem;
    border-radius: 60px;
  }
}

.incio__galery {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: incio__galery;
  background-color: #89b0ae;
  padding: 2rem 0;
}

.incio__galery h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #3c6e71;
  font-size: 2.5rem;
  font-weight: bloder;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
  text-shadow: #3c6e71, 2px, 2px;
}

@media screen and (max-width: 425px) {
  .incio__galery h2 {
    font-size: 1.5rem;
  }
}

.galery__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 11rem;
  gap: .5rem;
  padding: 1rem;
}

.galery__container .galery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galery__container .galery__item:nth-child(4) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.galery__container .galery__item:nth-child(2) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.galery__container .galery__item:nth-child(3) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.galery__container .galery__item:nth-child(5) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

figcaption {
  font-size: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  figcaption {
    font-size: 1.1rem;
  }
}

figure {
  background-color: #3c6e71 !important;
}

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
  background-color: #3c6e71;
  color: #bee3db;
}

@media screen and (max-width: 425px) {
  [class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
    padding: 3px;
  }
}

.catalogo {
  display: -ms-grid;
  display: grid;
  gap: 3px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  background-color: #3c6e71;
  width: 100%;
  height: auto;
  padding: 7rem 0;
  padding-bottom: 2.5rem;
}

.catalogo__img {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 300px;
          flex: 2 0 300px;
  height: 22rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .catalogo__img {
    margin: 0 .5rem;
  }
}

@media screen and (max-width: 425px) {
  .catalogo__img {
    height: 18rem;
    margin-right: 0;
    margin: 0 .5rem;
  }
}

.catalogo__img .img__item {
  width: 100%;
}

.catalogo__video {
  -webkit-box-flex: 3;
      -ms-flex: 3 0 300px;
          flex: 3 0 300px;
  width: 300px;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .catalogo__video {
    margin: 0 .5rem;
  }
}

@media screen and (max-width: 425px) {
  .catalogo__video {
    height: 18rem;
    margin: 0 .5rem;
  }
}

.catalogo__text {
  margin: 2rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  height: auto;
  color: #bee3db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .catalogo__text {
    padding: 0 1rem;
    margin: 3.5rem .5rem;
  }
}

.catalogo__text h3 {
  font-weight: bloder;
  font-size: 2.7rem;
}

.catalogo__text p {
  text-align: left;
  font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
  .catalogo__text h3 {
    font-weight: bloder;
    font-size: 2rem;
  }
  .catalogo__text p {
    text-align: left;
    font-size: 1rem;
  }
}

.catalogo__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  padding-top: .5rem;
}

.catalogo__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  padding-top: .5rem;
}

.catalogo__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  padding-top: .5rem;
}

.catalogo__4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  padding-top: .5rem;
}

.tophombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  gap: 1rem;
  background-color: #3c6e71;
}

.tophombre h2 {
  color: #3c6e71;
  font-size: 2.5rem;
  font-weight: bloder;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
  text-shadow: #3c6e71, 2px, 2px;
  color: #bee3db;
  font-size: 3.5rem;
  font-weight: 700;
}

.tophombre h3 {
  color: #3c6e71;
  font-size: 2.5rem;
  font-weight: bloder;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
  text-shadow: #3c6e71, 2px, 2px;
  color: #bee3db;
  font-size: 2.5rem;
  font-weight: 700;
}

@media screen and (max-width: 425px) {
  .tophombre {
    padding-top: 5rem;
  }
  .tophombre h2 {
    font-size: 2.5rem;
  }
  .tophombre h3 {
    font-size: 1.9rem;
  }
}

.topventas {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imgHombre {
  height: 450px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1.5rem 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.imgHombre:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media screen and (max-width: 425px) {
  .imgHombre {
    height: 400px;
    width: 250px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacto {
  padding-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95vh;
  min-height: 65rem;
  margin: 0 .5rem;
  margin-bottom: .5rem;
}

.contacto__img {
  width: 35vw;
  height: 100%;
  background-image: url(../../imagenes/img11.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .contacto__img {
    display: none;
  }
}

.contacto__form {
  width: 75vw;
  height: 100%;
  background-image: url(../../imagenes/portadas/nuevacoleccion2.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowar;
          flex-flow: column nowar;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .contacto__form {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .contacto__form {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.contacto__form form {
  width: 40rem;
  border: 2px solid #3c6e71;
  background: rgba(190, 227, 219, 0.8);
  border-radius: 20px;
  padding: 1.5rem;
}

@media screen and (max-width: 425px) {
  .contacto__form form {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .contacto__form form {
    width: 80vw;
  }
}

.contacto__form form h2 {
  color: #3c6e71;
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.contacto__form form * {
  display: block;
}

.contacto__requisito {
  font-size: 1.4rem;
  color: #3c6e71;
  font-weight: 700;
  text-align: left;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.contacto__input, .contacto__input--textarea {
  width: 100%;
  height: 2.5rem;
  border: none;
  font-size: 1.2rem;
  color: #3c6e71;
  padding: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

.contacto__input--textarea {
  height: 7rem;
  max-height: 7rem;
  color: #3c6e71;
}

.contacto__select {
  border: none;
  height: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
}

.contacto__boton {
  margin: 1rem;
  padding: .5rem;
  background-color: #3c6e71;
  color: #bee3db;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px #bee3db solid;
}

main {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ubicacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  grid-auto-columns: 1fr;
  gap: 12px 12px;
  grid-auto-flow: row;
      grid-template-areas: "ubicacion__map ubicacion__map" "ubicacion__compravirtual ubicacion__compralocal" "ubicacion__video ubicacion__calidad";
  width: 100%;
  margin: 0 0;
  padding-top: 7rem;
}

@media screen and (max-width: 768px) {
  .ubicacion {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    grid-auto-columns: auto;
    gap: 12px 12px;
    grid-auto-flow: row;
        grid-template-areas: "ubicacion__map" "ubicacion__compravirtual" "ubicacion__compralocal" "ubicacion__calidad" "ubicacion__video";
    margin-bottom: 1rem;
  }
  .ubicacion .ubicacion__map {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ubicacion__map;
  }
  .ubicacion .ubicacion__compravirtual {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: ubicacion__compravirtual;
  }
  .ubicacion .ubicacion__compralocal {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: ubicacion__compralocal;
  }
  .ubicacion .ubicacion__video {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: ubicacion__video;
  }
  .ubicacion .ubicacion__calidad {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: ubicacion__calidad;
  }
}

.ubicacion__map {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ubicacion__map;
  padding: 1rem 2rem;
  width: 100%;
  height: 25rem;
}

@media screen and (max-width: 768px) {
  .ubicacion__map {
    padding: 1rem;
    margin: auto;
    height: 20rem;
  }
}

.ubicacion__map .map {
  width: 100%;
  height: 100%;
}

.ubicacion__compravirtual {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ubicacion__compravirtual;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 4rem;
  background-color: #bee3db;
  margin-left: 1.8rem;
  border: #3c6e71 solid 2px;
}

@media screen and (max-width: 768px) {
  .ubicacion__compravirtual {
    padding: 1rem;
    margin: 0 1rem;
  }
}

.ubicacion__compravirtual p {
  color: #3c6e71;
  font-size: 2.5rem;
  font-weight: bloder;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
  text-shadow: #3c6e71, 2px, 2px;
  font-size: 1.7rem;
}

@media screen and (max-width: 425px) {
  .ubicacion__compravirtual p {
    font-size: 1rem;
  }
}

.ubicacion__compravirtual h2 {
  color: #3c6e71;
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 425px) {
  .ubicacion__compravirtual h2 {
    font-size: 2rem;
  }
}

.ubicacion__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.ubicacion__icons--items {
  font-size: 3rem;
  color: #3c6e71;
}

@media screen and (max-width: 768px) {
  .ubicacion__icons--items {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 425px) {
  .ubicacion__icons--items {
    font-size: 1.6rem;
  }
}

.ubicacion__compralocal {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ubicacion__compralocal;
  background-color: #3c6e71;
  width: auto;
  margin-right: 1.8rem;
  height: 100%;
  border: #bee3db solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

@media screen and (max-width: 768px) {
  .ubicacion__compralocal {
    padding: 1rem;
    margin: 0 1rem;
  }
}

.ubicacion__compralocal p {
  color: #3c6e71;
  font-size: 2.5rem;
  font-weight: bloder;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
  text-shadow: #3c6e71, 2px, 2px;
  font-size: 1.7rem;
  color: #bee3db;
}

@media screen and (max-width: 425px) {
  .ubicacion__compralocal p {
    font-size: 1rem;
  }
}

.ubicacion__compralocal h2 {
  color: #3c6e71;
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #bee3db;
}

@media screen and (max-width: 425px) {
  .ubicacion__compralocal h2 {
    font-size: 2rem;
  }
}

.ubicacion__video {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ubicacion__video;
  padding-bottom: 1.5rem;
  padding-right: 1.68rem;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .ubicacion__video {
    margin: 0 1rem;
    padding: 0;
  }
}

.ubicacion__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 1.8rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .ubicacion__video video {
    margin: auto;
  }
}

.ubicacion__calidad {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: ubicacion__calidad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  padding: 4rem;
  background-color: #bee3db;
  margin-right: 1.8rem;
  margin-bottom: 1.5rem;
  border: #3c6e71 solid 2px;
}

@media screen and (max-width: 768px) {
  .ubicacion__calidad {
    padding: 1rem;
    margin: 0 1rem;
  }
}

.ubicacion__calidad p {
  color: #3c6e71;
  font-size: 2.5rem;
  font-weight: bloder;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
  text-shadow: #3c6e71, 2px, 2px;
  font-size: 1.7rem;
}

@media screen and (max-width: 425px) {
  .ubicacion__calidad p {
    font-size: 1rem;
  }
}

.ubicacion__calidad h2 {
  color: #3c6e71;
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 425px) {
  .ubicacion__calidad h2 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */